<div class='text-center'>
    <%= image_tag @post.image.url(:medium) %>
</div>
<div class='form-wrapper'>
  <%= render 'form' %>
  <div class='text-center edit-links'>
      <%= link_to "Delete Post", post_path(@post), method: :delete, class: 'btn btn-xs btn-danger', 
                                 data: {confirm: 'Are you sure?' } %>
  </div>
  <div class='text-center'>
    <%= link_to 'Back', root_path, data: { confirm: "Are you sure? All updates will be lost" } %>
  </div>
</div>